body {
	color: rgb(44, 44, 44);
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

th, td {
	border: 1px solid black;
	vertical-align: top;
}

.post-time {
	font-size: 0.8rem;
	margin-bottom: 8px;
}

.project-cpp {
	border: 2px solid #f34b7d;
}

.project-cs {
	border: 2px solid #178600;
}

.project-js {
	border: 2px solid #f1e05a;
}

.project-kt {
	border: 2px solid #a97bff;
}

.project-py {
	border: 2px solid #3572a5;
}

.project-description,
.post-content {
	background-color: rgb(242, 242, 242);
	border-radius: 4px;
	margin-bottom: 16px;
	padding: 8px;
	text-align: justify;
}

.book-title {
	display: inline-block;
}

#footer {
	text-align: center;
}

